<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - webapp</title>

    <link href="~/lib/devextreme/css/dx.common.css" rel="stylesheet" /> 
    <link href="~/lib/devextreme/css/dx.light.css" rel="stylesheet" /> 
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/devextreme/js/dx.all.js"></script>     
    <script src="~/lib/devextreme-aspnet-data/js/dx.aspnet.data.js"></script> 
    <script src="~/lib/devextreme/js/dx.aspnet.mvc.js"></script>

    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
  @RenderBody()

  <script src="~/lib/jquery/dist/jquery.js"></script>
  <script src="~/js/site.js" asp-append-version="true"></script>
  @RenderSection("Scripts", required: false)
</body>
</html>
